.card {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  margin: 10px 5px;
  padding: 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #292929;
}

.card-image {
  width: 110px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-title, .card-author, .card-description {
  margin-bottom: 4px;
}

.card-comments {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slick-slide {
  margin: 0 5px;
}

.slick-arrow {
  z-index: 1;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px; /* Vertically center the icon if using text or icon fonts */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-arrow {
  background: grey; /* Style for arrows */
  border-radius: 50%;
}
.custom-arrow {
  background: grey; /* Background color for visibility */
  border-radius: 50%; /* Circular shape */
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.next-arrow {
  right: -15px; /* Adjust this value to position the next arrow correctly */
}

.prev-arrow {
  left: -15px; /* Adjust this value to position the prev arrow correctly */
}

.slick-arrow.slick-hidden {
  display: none !important;
}
.slide-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
