.circle-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* White text for better visibility */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Slightly lighter shadow for depth */
    margin: 10px;
  }
  
  .circle-image {
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    margin-right: 20px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 16px; /* Size of title text */
  }
  
  .card-author {
    font-size: 14px; /* Size of author text */
  }
  .cards-grid {
    display: flex; 
    justify-content: space-around; 
    padding: 20px;
    background-color: #1e1e1e;
  }
  