.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
}
.welcome-column h2 {
  font-size: 1.5rem;
  font-weight: normal; /* Less emphasis compared to bold */
  letter-spacing: 0.05em; /* Spacing between letters */
  color: #ccc; /* Lighter text color */
}



.search-column {
  margin-right: 50px;
}

.search-container {
  position: relative;
  color: #bbb;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbb; /* Same color as placeholder for consistency */
}

.search-input {
  padding: 10px;
  padding-left: 35px; /* Space for the search icon */
  border-radius: 20px;
  border: 1px solid #333;
  background-color: #2a2a2a; /* Slightly lighter than the hero background for contrast */
  color: white;
  width: 100%;
  max-width: 300px;
  outline: none;
}

.search-input::placeholder {
  color: #bbb;
}

.search-input:focus {
  border-color: #555;
}
