.sidebar {
  width: 250px;
  background-color: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  font-weight: bold;
}

.sidebar-btn {
  color: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  border-radius: 10px; /* Apply some border radius for all buttons */
}

.create {
  background-color: #333;
  border-radius: 20px; /* More rounded corners for Create button */
}

.discover {
  background-color: #333;
  /* Less rounded corners are already set for all buttons */
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Additional style for hidden text */
.hidden {
  display: none;
}

/* Style for react-icons */
.sidebar-btn .react-icon {
  margin-right: 5px;
}
